body {
  background: linear-gradient(309deg, #2c0e8d, #13133d, #791ddc, #06dfd9);
  background-size: 800% 800%;
  -webkit-animation: GradientAnimation 960s ease infinite;
  -moz-animation: GradientAnimation 960s ease infinite;
  animation: GradientAnimation 960s ease infinite;
  height: 100vh;
  width: 100%;
  overflow: none;
  position: relative;
}

section > img, section > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

a.address {
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  margin-top:155px;
  color: #fff;
  background-color: #13133d;
  padding: 9px;
}
  
@keyframes GradientAnimation {
  0% { background-position: 0% 46%; }
  50% { background-position: 100% 55%; }
  100% { background-position: 0% 46%; }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  a.address { font-size: 1em; width: 55%; }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  a.address { margin-top:135px; font-size: 1em; width: 55%; padding: 5px; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  a.address { margin-top:115px; font-size: 1em; width: 65%;}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  a.address { margin-top:95px; font-size: 0.9em; width: 75%;}
}